/** @format */

nav {
  background-color: #fff;
  border-radius: 32px;
  height: 10vh;
  // @media screen and (min-width:1300px) {
  //   hei
  // }
  border: 1px solid #ddd;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 95vw;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  ul {
    display: flex;
    align-items: center;
  }
  ul > li {
    margin-right: 20px;
  }
  li a {
    color: #999;
  }
  li a.active {
    color: #3b8f5d;
  }
}
