/** @format */

* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1300px) {
  html {
    font-size: 22px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.avoid-navbar {
  padding-top: 80px;
}
