/** @format */
.home {
  overflow-x: hidden;
}
.home header {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
.home header::after {
  content: "";
  display: none;
  @include mediaQuery("lg") {
    position: absolute;
    z-index: -1;
    display: block;

    background-image: url("/images/landing_bg_cropped.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 0% 0%;
    opacity: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  @media screen and (min-width: 1300px) {
  }
}
.home .services {
  padding-top: 20px;
}

.home .services .text-container {
  max-width: 400px;
  color: #333;
  margin-bottom: 30px;
  @include mediaQuery("lg") {
    color: #fff;
  }
}
